* text=auto eol=lf

# Written by the generators under tools/ (each file's header names its own); never hand-edit.
Data/*.lua linguist-generated=true
ShortestPathForever_Nav*/*.lua linguist-generated=true
